<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Manage Banks</title>
</head>
<body>
    <h1>Bank List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Headquarters</th>
            <th>Established</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
        {% for bank in banks %}
        <tr>
            <td>{{ bank['bank_id'] }}</td>
            <td>{{ bank['bank_name'] }}</td>
            <td>{{ bank['bank_headq_address'] }}</td>
            <td>{{ bank['established_date'] }}</td>
            <td>{{ bank['bank_email'] }}</td>
            <td>{{ bank['bank_contact_number'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
